<div class="col-sm-12 client-container margin-top">
    <h2> Client Details</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Initials</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Business</th>
          <th>IBAN</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.title }} {{ client.firstName }}</td>
          <td>{{ client.lastName }}</td>
          <td>{{ client.initials }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.business }}</td>
          <td>{{ client.iban }}</td>
          <td>{{ client.startDate }}</td>
          <td>{{ client.active }}</td>
          <td><button class="btn btn-red" (click)="deleteClient(client._id)"> Delete</button></td>
        </tr>
      </tbody>
    </table>
</div>